[submodule "lru-cache"]
	path = lru-cache
	url = https://github.com/toluschr/lru-cache.git
[submodule "third_party/lru-cache"]
	path = third_party/lru-cache
	url = https://github.com/toluschr/lru-cache.git
[submodule "third_party/raylib"]
	path = third_party/raylib
	url = https://github.com/raysan5/raylib.git
